body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    background-color: #fcfcbe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.contact-info h2 {
    margin-bottom: 15px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.contact-info li strong {
    color: #333;
}

.contact-info a {
    color: #0066cc;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.navbar,
footer {
    width: 100%;
}