/* Define o box-sizing para todos os elementos, garantindo que padding e border sejam incluídos nas dimensões dos elementos */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Define a fonte do corpo da página como Arial ou Helvetica, com fallback para sans-serif */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Centraliza o conteúdo dentro do header com um max-width de 1300px */
.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo da barra de navegação */
.navbar {
  background-color:#ffa503; /* Cor de fundo marrom */
  padding: 1rem; /* Espaçamento interno */
  position: sticky; /* A barra de navegação ficará fixa no topo */
  top: 0;
  box-shadow: 10px 0px 10px #ffa503; /* Sombras sutis à direita */
  z-index: 99; /* Garante que a navbar fique sobre outros elementos */
}

/* Dentro da navbar, as divs são organizadas com flexbox, alinhando os itens horizontalmente */
.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaçamento entre os itens */
  position: relative;
}

/* Estilo do logo */
.logo {
  color: #460000; /* Cor do logo */
}

/* Estilo do span dentro do logo, definindo uma cor roxa */
.logo span {
  color: #ffff85;
}

/* Define o estilo da lista de navegação */
nav ul {
  display: flex; /* Organiza os itens da lista horizontalmente */
  list-style: none; /* Remove os marcadores da lista */
  align-items: center;
}

/* Estilo dos ícones de navegação */
.nav-icon-container {
  display: flex;
  align-items: center;
}

/* Define o tamanho das imagens dos ícones e o cursor de ponteiro */
.nav-icon-container img {
  width: 50px;
  cursor: pointer;
}

/* Espaçamento entre os ícones, aplicando margem apenas no primeiro ícone */
.nav-icon-container img:first-child {
  margin-right: 1rem;
}

/* Estilo dos itens de lista de navegação */
nav ul li {
  color: #ffff85; /* Cor do texto dos itens */
  margin-right: 1.5rem; /* Espaçamento entre os itens */
  cursor: pointer; /* Cursor de ponteiro quando passar sobre os itens */
}

/* Efeito de hover para os itens da lista de navegação */
nav ul li:hover {
  transform: translateY(-5px); /* Animação de elevação ao passar o mouse */
  transition: all 0.2s; /* Transição suave */
  font-weight: bold; /* Torna o texto em negrito ao passar o mouse */
}

/* Esconde o botão de menu em telas maiores */
.menu-button {
  display: none;
}

/* Estilo do header com um gradiente radial de branco para cinza claro */
header {
  background-image: radial-gradient(#ffff85, #ffff);
}

/* Estilo da parte inferior do cabeçalho, utilizando flexbox para alinhamento */
.header-bottom-side {
  display: flex;
  align-items: center;
  justify-self: center; /* Centraliza o conteúdo */
  padding: 1rem;
}

/* Define o layout da parte esquerda do cabeçalho */
.header-bottom-side-left {
  height: 100%;
  flex-basis: 50%; /* Define que o lado esquerdo ocupará 50% do espaço */
}

/* Estilo do título na parte esquerda */
.header-bottom-side-left h2 {
  font-size: 3rem; /* Tamanho grande para o título */
  margin-bottom: 1.5rem; /* Espaçamento abaixo do título */
}

/* Estilo do parágrafo na parte esquerda */
.header-bottom-side-left p {
  line-height: 1.5rem; /* Define o espaçamento entre as linhas do parágrafo */
  margin-bottom: 1.5rem;
}

/* Estilo do botão na parte esquerda */
.header-bottom-side-left button {
  background-color: #ffa503; /* Cor de fundo do botão */
  border: none; /* Remove a borda */
  cursor: pointer; /* Cursor de ponteiro */
  padding: 0.8rem 2.8rem; /* Espaçamento interno do botão */
  border-radius: 9999px; /* Deixa o botão com bordas arredondadas */
  color: #000000; /* Cor do texto no botão */
  font-weight: 500; /* Peso da fonte */
  font-size: 1rem; /* Tamanho da fonte */
  transition: all 0.2s; /* Transição suave para os efeitos */
}

/* Efeito de hover no botão */
.header-bottom-side-left button:hover {
  background-color: #ffe968; /* Muda a cor do fundo quando o botão é pressionado */
}

/* Estilo da parte direita do cabeçalho, que ocupa 50% do espaço */
.header-bottom-side-right {
  flex-basis: 50%;
  display: flex;
  align-items: right;
  justify-content: right; /* Alinha a imagem à direita */
}

/* Estilo da imagem na parte direita */
.header-bottom-side-right img {
  max-width: 100%; /* Ajusta a largura da imagem */
}

@media (max-width: 800px) {
  .logo {
    font-size: 1.2rem;
  }

  .menu-button {
    display: none;
  }

  .header-bottom-side {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }

  nav {
    position: absolute;
    background-color: #ffa503;
    width: 100%;
    top: 46px;
    display: none;
  }

  .show-menu nav {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
    padding: 0.8rem;
  }
}

/* estilo do conteudo principal*/

main {
  background-color: #ffff9c;
}
.gray-background {
  background-color: #ffa503;
}

.page-inner-content {
  max-width: 1500px;
  margin: 0 auto;
}

.cols {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 1rem;
}
.cols-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.cols-3 img {
  max-width: 100%;
}

.cols-4 img {
  max-width: 100%;
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cols > * {
  cursor: pointer;
  transition: all 0.2s;
}

.cols > *:hover {
  transform: translateY(-5px);
}

.sessao-titulo {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}

.linha-sublinhado {
  width: 100px;
  height: 5px;
  background: #a25301;
  border-radius: 9999px;
  margin: 8px auto 0 auto;
}
.produto {
  color: #000000
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.nome-produto {
  font-weight: 600;
  margin-top: 0.4rem;
}

.avaliacao {
  color: rgb(240, 221, 9);
  font-size: 1.3rem;
}

.preco-produto {
  font-weight: 600;
}

@media (max-width: 800px) {
  .section-title {
    font-size: 1rem;
  }

  .cols-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .produto,
  .preco-produto,
  .avaliacao {
    max-height: 1rem;
    overflow: hidden;
    font-size: 0.8rem;
  }
}

.comentarios {
  display: flex;
  padding: 4rem 1rem;
  justify-content: space-evenly;
}

.comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  text-align: center;
  box-shadow: 0 0 15px #742901;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.comentario:hover {
  transform: translateY(-5px);
}

.comentario p {
  margin: 5px 0;
}

.comentario p:first-child {
  font-weight: bold;
  font-size: 5rem;
  color: #742901;
  margin-top: 3rem;
  line-height: 2rem;
}

.comentario p:last-child {
  font-weight: bold;
}

@media (max-width: 800px) {
  .comentarios {
    flex-direction: column;
  }

  .comentario {
    margin-bottom: 1.2rem;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  color: #460000;
  padding: 2rem 1 rem;
  gap: 2rem;
}

.logo-footer {
  text-align: center;
  margin-bottom: 1rem;
}
.links-footer h3 {
  color: #460000;
  margin-bottom: 0.8rem;
  text-align: center;
}

.links-footer ul {
  list-style: none;
  text-align: center;
}

.links-footer ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.copyright {
  color: #460000;
  padding: 2rem 0;
  text-align: center;
}
